.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

button {
  font-size: calc(10px + 2vmin);
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #1a1a1a;
  color: white;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
